body {
  color: white;
}
.navbar {
    display: flex;
    background-color: #000407;
}

.navbar h1 {
    color: #F5F7F7;
    font-family: Roboto, sans-serif;
}

.navbar img {
    margin-left: 10px;
}

hr {
  height: 5px;
}

.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.type-muscle-container {
  width: 50%;
  height: 100%;
}

.right-box {
  margin-top: 15px;
  width: 50vw;
  height: 100vh;
}

.left-box {
  height:50vh;
}

.left-box, .right-box {
  opacity: 0.8;
}

select {
  display: block;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 5px;
}

.button-grid {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows: repeat(5, auto);
 gap: 10px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  word-wrap: break-word;
}


.button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.btn-heading {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.button-description {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
}

#exercise{
  padding-top: 10%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

select{
  width: 100%;
}