
#exercise {
    width: 824px;
    height: 400px;
    background-color:white;
    margin: 10px;
    border: 2px solid #000407;
    float: left;
    clear: both;
  }

  #group {
    width: 824px;
    height: 600px;
    background-color: white;
    border: 2px solid black;
    margin: 10px;
    float: left;
    clear: both;
  }

.navbar {
    background-color: #000407;
}

.navbar h1 {
    color: #F5F7F7;
    font-family: Roboto, sans-serif;
}

.navbar img {
    margin-left: 10px;
}

.box {
  width: 824px;
  height: 600px;
  background-color: white;
  border: 2px solid black;
  margin: 10px;
  float: right;
}

hr {
  height: 5px;
}