body {
  color: white;
  background-color: black;
}
footer{
  color: black;
  height: 500px;
  width: 100%;
}

h6{
  text-align: center;
}
.navbar {
    display: flex;
    background-color: #000407;
}

.navbar h1 {
    color: #F5F7F7;
    font-family: Roboto, sans-serif;
}

.navbar img {
    margin-left: 10px;
}

hr {
  height: 5px;
}

.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.type-muscle-container {
  width: 50%;
}

#image {
  width: 75%;
  max-height: 400px;
  padding: 5%;
}

.btnClick {
  padding: 10%;
  box-sizing: border-box;
}

.right-box {
  margin-top: 15px;
  width: 50vw;
}

.left-box {
  height:30vh;
  float: left;
  padding-top: 5%;
}

.left-box, .right-box {
  opacity: 0.8;
}

select {
  display: block;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 5px;
}

.button-grid {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 10px;
 width: 80%;
 margin: 0px;
}
.hidden{
  display: none;
}

.button {
  align-items: center;
  background-color: #fff;
  color: black;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  margin: auto;
}


.button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.btn-heading {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.button-description {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
}

#exercise{
  justify-content: space-evenly;
  padding-top: 2%;
  display: flex;
  align-items: flex-start;
  margin-left: 5%;
}

span{
  display: block;
}

select{
  width: 100%;
}

.x-search{
  margin-left: 35% ;
}

.savedList{
  width: 80%;
  margin: auto;
}
.card {
  width: 100%;
  height: 30px;
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}


.card:active span.hidden {
  display: block;
  background-color: rgb(213, 213, 223);
  color: black;
}

.card:active{
  z-index: 1;
}

.dropzone {
  margin: auto;
  width: 80%;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  font-size: large;

}

#group{
  margin: auto;
}

.type-muscle-container{
  height: auto;
 }
@media(max-width:1400px){
  .main-container {
    flex-direction: column;

  }
  .right-box{
    width: 100%;
  }
  .type-muscle-container{
    width: 100%;
  }
}
@media (max-width:730px) {
  .main-container {
    display: inline;
  }
  .type-muscle-container{
   width: 100vw;
  }
  .button-grid {
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
  }

  .right-box{
    width: 100vw;
  }
}

@media (max-width:468px){
  .navbar h1{
    font-size: 30px!important;
  }
}